// Implementation Contraints File for Nexys4 Artix-7 FPGA

// Clock
NET "CLK_100M" LOC = E3 | IOSTANDARD = LVCMOS33;
NET "CLK_100M" PERIOD = 10ns HIGH 5ns;

// VGA
NET "RGB<0>"  LOC = B7 | IOSTANDARD = LVCMOS33 | TIG;
NET "RGB<1>"  LOC = C7 | IOSTANDARD = LVCMOS33 | TIG;
NET "RGB<2>"  LOC = D7 | IOSTANDARD = LVCMOS33 | TIG;
NET "RGB<3>"  LOC = D8 | IOSTANDARD = LVCMOS33 | TIG;
NET "RGB<4>"  LOC = C6 | IOSTANDARD = LVCMOS33 | TIG;
NET "RGB<5>"  LOC = A5 | IOSTANDARD = LVCMOS33 | TIG;
NET "RGB<6>"  LOC = B6 | IOSTANDARD = LVCMOS33 | TIG;
NET "RGB<7>"  LOC = A6 | IOSTANDARD = LVCMOS33 | TIG;
NET "RGB<8>"  LOC = A3 | IOSTANDARD = LVCMOS33 | TIG;
NET "RGB<9>"  LOC = B4 | IOSTANDARD = LVCMOS33 | TIG;
NET "RGB<10>" LOC = C5 | IOSTANDARD = LVCMOS33 | TIG;
NET "RGB<11>" LOC = A4 | IOSTANDARD = LVCMOS33 | TIG;
NET "HS" LOC = B11 | IOSTANDARD = LVCMOS33 | TIG;
NET "VS" LOC = B12 | IOSTANDARD = LVCMOS33 | TIG;
