// Implementation Contraints File for Nexys4 Artix-7 FPGA

// Clock
NET "CLK_100M" LOC = E3 | IOSTANDARD = LVCMOS33;
NET "CLK_100M" PERIOD = 10ns HIGH 5ns;

// Buttons
NET "BTNC" LOC = E16 | IOSTANDARD = LVCMOS33 | TIG;

// LEDs
NET "LDs<3>" LOC = T6 | IOSTANDARD = LVCMOS33 | TIG;
NET "LDs<2>" LOC = R8 | IOSTANDARD = LVCMOS33 | TIG;
NET "LDs<1>" LOC = V9 | IOSTANDARD = LVCMOS33 | TIG;
NET "LDs<0>" LOC = T8 | IOSTANDARD = LVCMOS33 | TIG;